<!-- Barra de navegación fija que se ubica debajo del banner -->
<nav class="navbar navbar-expand-lg navbar-light navbar-custom sticky-top">
  <div class="container-fluid">

    <a class="navbar-brand white-text" routerLink="/">Decora A&M</a>

    <!-- Botón de hamburguesa -->
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" [attr.aria-expanded]="!isNavbarCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú colapsable -->
    <div class="collapse navbar-collapse" [ngClass]="{'show': !isNavbarCollapsed}" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="inicio" (click)="closeNavbar()">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="servicios" (click)="closeNavbar()">Servicios</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" routerLink="nuestra-historia" (click)="closeNavbar()">Nuestra historia</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-link" (click)="openModal('login')">
            <i class="fas fa-user d-none d-lg-inline"></i> 
            <span class="d-lg-none">Inicio de sesión</span> 
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
