
<div class="container my-5">
    <div class="row align-items-center">
      <!-- Sección de Imagen -->
      <div class="col-lg-6 text-center">
        <img src="./../../../../assets/imagenes/minimalist logo for a decoration event company called Decora A&M (1).png" alt="Decora A&M" class="img-fluid rounded shadow-lg" />
      </div>
  
      <!-- Sección de Texto -->
      <div class="col-lg-6">
        <h2 class="text-primary mb-4">Nuestra Historia y Visión</h2>
        <p>
          Hace seis años, "Decora A&M" nació de una decisión valiente y un deseo de independencia. Al principio, nuestra meta era asociarnos con un profesional experimentado en la decoración de eventos, pero esa oportunidad no prosperó. A pesar de ello, decidimos forjar nuestro propio camino, con la firme convicción de que podíamos hacer algo grande por nuestra cuenta.
        </p>
        <p>
          Nuestra visión siempre ha estado inspirada en los pequeños detalles que hacen grandes a los eventos. Enfocados principalmente en bodas y XV años, hemos buscado destacar en cada proyecto, tomando como referencia imágenes de revistas, publicaciones especializadas y videos en redes sociales. Nos especializamos en ofrecer un servicio personalizado que capta y eleva las expectativas de nuestros clientes.
        </p>
        <p>
          Lo que realmente nos diferencia es nuestro compromiso con la calidad y el servicio. Entendemos que cada evento es único y merece una atención especial. Nos esforzamos por transformar los sueños de nuestros clientes en realidad, creando ambientes que reflejan su estilo y personalidad. Estamos orgullosos de ser parte de sus momentos especiales, convirtiéndolos en recuerdos inolvidables.
        </p>
      </div>
    </div>
  </div>
  