<div class="contenedor"> </div>
  
  <div class="imagen">
    <img src="assets/imagenes/a&m2.jpeg" alt="Decora A&M" />
  </div>

  
  <div class="texto">
    <h2>Nuestra Historia y Visión</h2>
    <p>Nuestra Historia y Visión
 Hace seis años, "Decora A&M" nació de una decisión valiente y un deseo de independencia. Inicialmente, nuestro objetivo era asociarnos con alguien que tenía una trayectoria consolidada en el mundo de la decoración de eventos. Sin embargo, esa asociación no se materializó como esperábamos, lo que nos llevó a tomar la iniciativa de construir nuestro propio camino. Fue así como dimos vida a "Decora A&M", con la firme convicción de crear experiencia
     </p>
    <p>Nuestra visión está profundamente inspirada en los detalles que marcan la diferencia en grandes eventos decorativos, especialmente en bodas y XV años, capturados en imágenes de revistas, publicaciones especializadas y videos en redes sociales. Buscamos ir más allá de lo convencional, ofreciendo una atención personalizada y documentada que nos permite captar la esencia de lo que nuestros clientes tienen en mente y llevarlos a un nivel superior.
     </p>
     <p> Lo que realmente nos distingue es nuestro compromiso con la calidad y el servicio. Entendemos que cada evento es único y merece ser registrado. Por ello, nuestro enfoque es trabajar estrechamente con nuestros clientes para entender sus sueños y transformarlos en realidad, creando ambientes que reflejen su estilo y personalidad. Nos enorgullece ser parte de esos momentos especiales, convirtiéndolos en recuerdos inolvidables.
     </p>
  </div>
