<div>
    
  <div class="botones-categorias">
    <button (click)="seleccionarCategoria('')" 
            [class.seleccionado]="!categoriaSeleccionada">
      Todas
    </button>
    <button *ngFor="let categoria of (categorias | keyvalue)" 
            (click)="seleccionarCategoria(categoria.key)"
            [class.seleccionado]="categoriaSeleccionada === categoria.key">
      {{ categoria.key }}
    </button>
  </div>
</div>

<div *ngIf="true">
  
  <div class="galeria">
    <div *ngFor="let item of mostrarItems()" class="card">
      <div class="image-container">
        <img [src]="item.Imagen" alt="{{ item.Descripcion }}" />
        <div class="overlay">
          <p>{{ item.Descripcion }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
