#carouselExampleAutoplaying {
    width: 100%; /* El carrusel ocupa el 100% del ancho de la pantalla */
    max-width: 100%; /* Evita que el carrusel se expanda más allá del ancho de la pantalla */
    height: 400px; /* Ajusta la altura del carrusel a 500 píxeles */
    overflow: hidden; /* Oculta cualquier contenido que se desborde fuera del carrusel */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido del carrusel */
  }
  
  .carousel-inner {
    height: 100%; /* Asegura que el contenedor interno tenga la misma altura que el carrusel */
    display: flex;
    align-items: center; /* Centra verticalmente las imágenes dentro del carrusel */
  }
  
  .carousel-inner img {
    width: auto; /* Mantiene el ancho de la imagen proporcional */
    height: 100%; /* Ajusta la altura de la imagen al alto del carrusel */
    object-fit: contain; /* Asegura que la imagen se ajuste sin recortarse */
    display: block; /* Evita espacios en blanco alrededor de la imagen */
    margin: auto; /* Centra la imagen horizontalmente si es necesario */
  }
  